{
  "name": "com.passwordmanager.host",
  "description": "Password Manager Native Messaging Host",
  "path": "@BINARY_PATH@",
  "type": "stdio",
  "allowed_extensions": [
    "sentinelpass@localhost"
  ]
}
